@import url(https://fonts.googleapis.com/css?family=Lato:400,700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-primary: #d82028;
  --bg-secondary: #373656;
}
.login-container {
  width: 100vw;
  height: 100vh;
  font-family: "Lato";
  font-weight: 700;
  color: #555;
  background-color: #ecf0f3;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* padding-left: 200px; */
}
.login-card {
  width: 400px;
  height: 600px;
  padding: 60px 35px 35px 35px;
  /* border: 1px solid blue; */
  border-radius: 30px;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}
.logo {
  background: url(circle-cropped02.png);
  width: 121px;
  height: 121px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 0 0 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 15px #ffffff;
}
.title {
  color: var(--bg-primary);
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}
.sub-title {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
}
.fields {
  width: 100%;
  padding: 35px 5px 5px 5px;
}
.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
}
.username,
.password {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}
.signup-button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  /* background: #24cfaa; */
  background-color: var(--bg-secondary);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}
.signup-button:hover {
  /* background: #2fdbb6; */
  background-color: #fff;
  color: var(--bg-secondary);
}
.signup-button:active {
  /* background: #1da88a; */
  background-color: #555;
}
